.services-section {
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}

/* Background Logo */
.services-section::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url('/assets/abgblora/logo/versi2abg.png') center center no-repeat;

    background-size: 450px;

    opacity: 0.07;

    pointer-events: none;

    z-index: 0;
}

/* Isi Section */
.services-section .container {
    position: relative;
    z-index: 2;
}
