.services-section {
    position: relative;
    overflow: hidden;

    background-image: url('/assets/abgblora/logo/versi2abg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* FULL */

    z-index: 1;
}

/* Overlay putih transparan */
.services-section::before {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(255, 255, 255, 0.90);

    z-index: 1;
}

/* Isi konten tetap di atas */
.services-section .container {
    position: relative;
    z-index: 2;
}


