.services-section::before {
    content: '';
    position: absolute;
    inset: 0;

    background-image: url('/assets/abgblora/logo/versi2abg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;

    opacity: 0.05;
    filter: blur(2px);

    z-index: -1;
}
